language: ruby

rvm:
  - 2.0.0

bundler_args: --without development:production --path vendor/bundle

before_install:
  - gem update --system
  - gem --version
  - gem update bundler

script:
  - RAILS_ENV=test bundle exec rake db:create db:migrate db:populate spec

notifications:
  emails:
    - hfm.garden@gmail.com
  on_success: change
  on_failure: always
